apiVersion: v1
kind: Service
metadata:
  name: ingestion-service
  namespace: ingestion
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "5000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: ingestion
  ports:
    - port: 5000
      targetPort: 5000
