apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s

    scrape_configs:
      # Prometheus Self
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      # Services with Prometheus annotations
      - job_name: 'microservices'
        kubernetes_sd_configs:
        - role: endpoints
        relabel_configs:
        - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
          action: keep
          regex: "true"
        - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
          action: replace
          regex: (.+):(?:.*);(.+)
          replacement: $1:$2
          target_label: __address__
