apiVersion: v1
kind: Service
metadata:
  name: query-service
  namespace: query
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "5000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: query
  ports:
    - port: 5000
      targetPort: 5000
